<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FraudHunter Splash</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <!-- Fixed navbar -->
    <!--div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FH Splash</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a>splash@fraud.kz</a></li>
            <li><a>logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Begin page content -->
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
      $( function() {
        $( "#datepicker" ).datepicker();
        $( "#datepicker1" ).datepicker();
      } );
    </script>
  </body>
</html>
