<div class="container" style="padding:0px;">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#tab-incendent-active">Инценденты <span class="badge" id="count_incendent">0</span></a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab-incendent-closed">Закрытые <span class="badge">0</span></a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab-number">Номера <span class="badge">0</span></a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab-report">Отчеты <span class="badge">0</span></a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab-setting">Настройки <span class="badge">0</span></a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab-service">Службы <span class="badge">0</span></a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab-test">Тесты <span class="badge">0</span></a></li>
    <li role="presentation">
      <div class="row" style="padding: 0px;width:320px;text-align: right;">
        <a>splash@fraud.kz</a>&nbsp;&nbsp;
        <a>logout</a>
      </div>
    </li>
  </ul>
</div>

<div class="tab-content">
  
  <div class="container tab-pane fade" id="tab-number" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;height: 7px;"></div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;border-bottom: solid 1px #DDDDDD;">
      <div class="col-sm-12">
        <div style="width: 100%; height: 800px; overflow: scroll;">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container tab-pane fade" id="tab-report" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;height: 7px;"></div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;border-bottom: solid 1px #DDDDDD;">
      <div class="col-sm-12">
        <div style="width: 100%; height: 800px; overflow: scroll;">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container tab-pane fade" id="tab-setting" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;height: 7px;"></div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;border-bottom: solid 1px #DDDDDD;">
      <div class="col-sm-12">
        <div style="width: 100%; height: 800px; overflow: scroll;">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container tab-pane fade" id="tab-service" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;height: 7px;"></div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;border-bottom: solid 1px #DDDDDD;">
      <div class="col-sm-12">
        <div style="width: 100%; height: 800px; overflow: scroll;">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container tab-pane fade" id="tab-test" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;height: 7px;"></div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;border-bottom: solid 1px #DDDDDD;">
      <div class="col-sm-12">
        <div style="width: 100%; height: 800px; overflow: scroll;">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container tab-pane fade in active" id="tab-incendent-active" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;height: 7px;"></div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;">
      <nav class="navbar navbar-default" style="border-radius: 0px; padding-top: 4px;">
        <div class="col-sm-12">
          <div style="padding-left: 20px; width:50%;float:left;" class="d-inline-block">
            <div class="input-group" style="padding: 0px;">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
              </span>
            </div>
          </div>
          <div style="text-align: right;padding-right: 20px;width:50%;float:left;" class="d-inline-block">
            <nav aria-label="Page navigation">
              <ul class="pagination" style="margin: 0px;">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </nav>
    </div>
    
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;">
      <div class="col-sm-12">
        <div class="col-sm-2" style="border: 1px solid #DDDDDD; height: 52px;padding:0px;display:flex;justify-content:center;align-items:center;"><div style="width: 80%;text-align:center;">Дата/Время</div> <div style="width:20%;min-width:30px;text-align:center;"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a></div></div>
        <div class="col-sm-1" style="border: 1px solid #DDDDDD; height: 52px;padding:0px;display:flex;justify-content:center;align-items:center;"><div style="width: 80%;text-align:center;">Уровень</div> <div style="width:20%;min-width:30px;text-align:center;"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></a></div></div>
        <div class="col-sm-2" style="border: 1px solid #DDDDDD; height: 52px;padding:0px;display:flex;justify-content:center;align-items:center;"><div style="width: 80%;text-align:center;">Номер A</div> <div style="width:20%;min-width:30px;text-align:center;"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a></div></div>
        <div class="col-sm-1" style="border: 1px solid #DDDDDD; height: 52px;padding:0px;display:flex;justify-content:center;align-items:center;"><div style="width: 80%;text-align:center;">Тип</div> <div style="width:20%;min-width:30px;text-align:center;"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a></div></div>
        <div class="col-sm-2" style="border: 1px solid #DDDDDD; height: 52px;padding:0px;display:flex;justify-content:center;align-items:center;"><div style="width: 80%;text-align:center;">Направления</div> <div style="width:20%;min-width:30px;text-align:center;"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a></div></div>
        <div class="col-sm-1" style="border: 1px solid #DDDDDD; height: 52px;padding:0px;display:flex;justify-content:center;align-items:center;"><div style="width: 80%;text-align:center;">Счетчик</div> <div style="width:20%;min-width:30px;text-align:center;"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a></div></div>
        <div class="col-sm-2" style="border: 1px solid #DDDDDD; height: 52px;padding:0px;display:flex;justify-content:center;align-items:center;"><div style="width: 80%;text-align:center;">Действия</div> <div style="width:20%;min-width:30px;text-align:center;"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a></div></div>
        <div class="col-sm-1" style="border: 1px solid #DDDDDD; height: 52px;padding:0px;display:flex;justify-content:center;align-items:center;"><div style="width: 80%;text-align:center;">Зыкрыть</div> <div style="width:20%;min-width:30px;text-align:center;"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a></div></div>
      </div>
    </div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;height: 7px;"></div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;border-bottom: solid 1px #DDDDDD;">
      <div class="col-sm-12">
        <div id="messages" style="width: 100%; height: 800px; overflow: scroll;">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container tab-pane fade" id="tab-incendent-closed" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;height: 7px;"></div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;">
      <nav class="navbar navbar-default" style="border-radius: 0px; padding-top: 4px;">
        <div class="col-sm-12">
              <div style="padding-left: 20px; width:33%;float:left;" class="d-inline-block">
                <div class="input-group" style="padding: 0px;">
                  <h5 style="float: left; padding-right: 10px;">Period</h5>
                  <input type="text" class="form-control" placeholder="start" id="datepicker" style="width: 100px;">
                  <input type="text" class="form-control" placeholder="end" id="datepicker1" style="width: 100px;">
                </div>
              </div>
              
              <div style="padding-left: 20px; width:33%;float:left;" class="d-inline-block">
                <div class="input-group" style="padding: 0px;">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
                  </span>
                </div>
              </div>

              <div style="text-align: right;padding-right:20px; width:33%; float:left;" class="d-inline-block">
                <nav aria-label="Page navigation">
                  <ul class="pagination" style="margin: 0px;">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
        </div>
      </nav>
    </div>
    <div class="row" style="border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD;border-bottom: solid 1px #DDDDDD;">
      <div class="col-sm-12">
        <div id="messages" style="width: 100%; height: 800px; overflow: scroll;">
        </div>
      </div>
    </div>

  </div>

</div>

<!--div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

      </div>
    </div>
  </div>
</div-->
